{
  "extends": [
    "standard-with-typescript"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "node",
    "@typescript-eslint/eslint-plugin"
  ],
  "ignorePatterns": [
    "node_modules/**",
    "coverage/**",
    "dist/**"
  ],
  "env": {
    "node": true
  }
}
